.profileHeader {
    position: fixed;
    top: 0;
    background-color: var(--main-bg-color);
}

.profileHeader > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 5em 5em;
    padding: 0.5em;
    width: auto;

    color: white;
    text-decoration: none;

    border: 1px solid var(--main-border-color);
    border-radius: 1000px;
}

.profileHeader > a > img {
    border-radius: 100%;
    height: 8em;
}

.profileHeader > a > .username {
    padding-left: 3em;
}