.app {
  --main-bg-color: #282c34;
  --main-border-color: #3d4452;

  background-color: var(--main-bg-color);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 100%;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}
